server:
  port: 8888

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: https://github.com/eadarak00/ms-gestion-etudiants-config-repo
          default-label: main
          clone-on-start: true
          
management:
  endpoints:
    web:
      exposure:
        include: health,info,env