spring:
  application:
    name: gateway-server

  config:
    import: optional:configserver:http://config-server:7777

  cloud:
    config:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
