spring:
  application:
    name: gateway-server

  config:
    import: ${SPRING_CONFIG_IMPORT:optional:configserver:http://localhost:7777}

  cloud:
    config:
      uri: ${CONFIG_SERVER_URL:http://localhost:7777}

logging:
  level:
    "[org.springframework.cloud.gateway]": DEBUG
    "[org.springframework.cloud.gateway.route]": DEBUG

management:
  endpoint:
    health:
      show-details: always
    gateway:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,gateway
